<div>
    <div class="about-headline">
        <h1>About me</h1>
    </div>
    <div class="row about-row">
        <div class="about projects col-sm-3">
            <h4>Skills</h4>
            <p><strong>C#, ASP.NET &ndash; </strong>Razor, Nancy</p>
            <p><strong>JavaScript &ndash; </strong>Angular 2, JQuery, Ember, Gulp</p>
            <p><strong>Database &ndash; </strong>Sql Server, Firebase</p>
            <p><strong>CSS &ndash; </strong>Sass, Bootstrap, Materialize, design</p>
            <p><strong>APIs &ndash; </strong>OpenStreetMap, OpenLayers, GitHub, Weather Underground, BetterDoctors, OpenWeatherMap, Bike Index, OpenWeatherMap</p>
            <p><strong>GitHub</strong></p>
        </div>

        <div class="spacer-column"></div>

        <div class="about resume col-sm-8">
            <div class="contact">
                <a href="mailto:stevevburton@gmail.com">Email me</a><br />
                <a href="https://www.linkedin.com/in/steve-burton-pdx/">Find me on Linkedin</a>
            </div>
            <h1>Resume</h1>
            <h3>Work Experience</h3>
            <p><em>2000 - 2016</em></p>
            <h4>Portland Business Journal &ndash; Senior Graphic Designer</h4>
            <ul>
                <li>Responsible for design and layout of weekly newspaper and special publications.</li>
                <li>Designed in-house marketing materials for print, web and e-mail.</li>
                <li>Manage production of newspaper, special publications and other printed materials.</li>
                <li>One of three employees of the year for the years 2006 and 2010.</li>
                <li>Worked effectively with the design team and with other departments in a fast-paced, deadline-driven environment with a close attention to detail.</li>

            </ul>

            <p><em>1998 - 2000</em></p>
            <h4>RUDE: International Magazine &ndash; Creative Director, Co-Publisher</h4>

            <h3>Education</h3>
            <h4>Epicodus &ndash; 2017</h4>
            <ul>
                <li>Completed coursework in web development.</li>
                <li>Studies covered C#, ASP.NET, JavaScript, Angular 2, Ember, CSS, HTML.</li>
            </ul>

            <h4>Syracuse University &ndash; 1994, B.A. English and Textual Studies</h4>
            <ul>
                <li>Graduated Magna Cum Laude, with Honors in English.</li>
                <li>Volunteered in the university&rsquo;s Writing Program.</li>
            </ul>

            <h3>Other Skills</h3>
            <ul>
                <li>Thorough knowledge of Macintosh OS X, Adobe InDesign, Photoshop, Illustrator, Acrobat, Enfocus Pitstop, and Microsoft Office.</li>
                <li>Proofread to Chicago Manual of Style and AP Styleguide.</li>
            </ul>

            <h3>Volunteer</h3>
            <h4>Mazamas Mountaineering Organization</h4>
            <ul>
                <li>Publications Committee, committee work included Assistant Editor and Photo Editor.</li>
                <li>Instructed Advance Snow and Ice, and Advanced Rock classes.</li>
            </ul>

        </div>
    </div>
</div>
