<div>
  <div class="about-headline">
    <h1>Projects</h1>
  </div>
    <div class="projects-page">
      <h4>Here are some of my projects on GitHub</h4>
      <p><a href="https://github.com/steve-burton/cider-site">Cider-Maker&rsquo;s Resource</a></p>
      <p><a href="https://github.com/steve-burton/nw-hikes">Hike the Northwest</a></p>
      <p><a href="https://github.com/steve-burton/beer-recommendation-csharp">Oregon Beer Central</a></p>
      <p><a href="https://github.com/steve-burton/blogsite">Musical Talismans</a></p>
      <p><a href="https://github.com/steve-burton/son-of-cod-seafood-dotnet">Son of Cod Seafood</a></p>
      <p><a href="https://github.com/steve-burton/gummi-bear-kingdom-dotnet">Gummi Bear Kingdom</a></p>
      <p><a href="https://github.com/steve-burton/angular-hiking-club">Portland Hiking Club</a></p>
      <h5>You can find the rest of my projects <a href="https://github.com/steve-burton">here</a>.</h5>
    </div>
</div>
