<div class="container">
  <div class="row">
    <div class="header">
      <img class="steve" src="assets/img/steve-burton-cut-short.png" alt="A picture of Steve Burton">
      <h1>Steve Bur<span class="kern"></span>ton</h1>
      <p>Web developer &ndash; Portland, Oregon</p><br>
      <div class="navigation">
        <span class="tab-background"><a routerLink="">Home</a></span>
        <span class="tab-background"><a routerLink="projects">Projects</a></span>
        <span class="tab-background"><a routerLink="about">About</a></span>
        <div class="rule"></div>
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
